$outdated-hue: #FFFFFF;
$outdated-hue-alt: #F25648;
$outdated-color: $outdated-hue !default;
$outdated-hover-color: $outdated-hue-alt !default;
$outdated-hover-background-color: $outdated-hue !default;
$outdated-close-color: $outdated-hue !default;
$outdated-background-color: $outdated-hue-alt !default;
$outdated-border-color: $outdated-hue !default;